<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>
    <main>

        <div id="monthWeek">
            <div id="month">

            </div>
            <div id="week">
                <p>Week</p>
                <p id="weekNumber"></p>
                <a href="/"><span id="previousWeek"><i class="fa fa-angle-left"></i></span></a>
                <span id="nextWeek"><i class="fa fa-angle-right"></i></span>
            </div>
        </div>

        <div id="days">
            <p>M</p>
            <p>T</p>
            <p>W</p>
            <p>T</p>
            <p>F</p>
            <p>S</p>
            <p>S</p>
        </div>
        <div id="date">

        </div>

        <div id="eventListContainer">
            <div id="eventList">

                <% events.forEach(function(event) { %>
                <div class="eventListDiv">
                    <p id="eventTime"><%= event.time %></p>
                    <p id="eventTitle"><%= event.title %></p>
                    <p id="eventDate"><%= event.date %></p>
                    <div><i class="fa fa-times removeEvent" onclick="removeEvent(<%=event.id%>)"></i></div>
                    <div><i class="fa fa-pencil editEvent" data-id="<%= event.id %>"></i></div>
                </div>
                <% }); %>
            </div>
        </div>

        <div>
            <button id="openForm"><i class="fa fa-plus"></i></button>
        </div>

        <div id="formPopUp">
            <h2>Add to calendar</h2>
            <form action="/mainPage" autocomplete="off" method="post">
                <div>
                    <label for="date">Date</label>
                    <input type="date" id="formDate" name="date" value="2022-05-16" min="2022-01-01" max="2022-12-31">
                </div>
                <div>
                    <label for="time">Time</label>
                    <input type="text" name="time" id="time" rows="1" maxlength="15">
                </div>
                <div>
                    <label for="title">Title</i></label>
                    <textarea name="title" id="title" cols="30" rows="3" maxlength="100"></textarea>
                </div>
                <div>
                    <button type="submit" id="submitBtn"><i class="fa fa-check"></i></button>
                </div>
            </form>
        </div>

    </main>
    <%- include ('partials/footer.ejs') %>

    <script src="/js/main.js"></script>
</body>

</html>